h1, p {
  font-family: Lato;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  max-width: 900px;
  width: 100%;
  margin: 10px auto;
}

table th, table td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}